
{% extends "product/home.html"%}
{% block content %}
<div class="container">
        <div class="row">
            {% for object in object_list %}
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            {{object.name}}
                        </div>
                        <ul>
                                <label>Product Weight</label>
                                <div class="card-text">
                                    {{object.weight}} <b>KG</b>
                                </div>
                                <label>Product Price</label>
                                <div class="card-text">
                                    &#8377 {{object.price}}
                                </div>
                              <label>Created product</label>
                              <div class="card-text">
                                  {{ object.created_at}}
                              </div>
                              <label>Update Product</label>
                              <div class="card-text">
                                {{object.updated_at}}
                              </div> 
                            </ul>
                        
                        
                        <a href="product_update/{{object.id}}" class="btn btn-warning">Update</a>
                        <a class="btn atc btn-danger" href="d{{object.id}}" >Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        </div>
{% endblock %}